.container {
  max-width: 1200px;
}

.toolbar {
  height: 85px;
}

button.mat-raised-button {
  transition: all 0.3s ease;
}

button.mat-raised-button:hover {
  background-color: #6200ea;
}

h2 {
  font-weight: 600;
  color: #333;
}
